/* Base Light Theme */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #000;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    color: #006EB6;
    margin-top: 0;
}

.does-list {
    margin-left: 20px;
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}

/* Dark Theme */
.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #66CCFF;
}

.dark a {
    color: #66CCFF;
}

